<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org">

<body>
	<h1>Requisição [POST] no formulário</h1>
	
	<form method="POST" th:object="${usuario}">
	
		<span th:text="${#fields.hasAnyErrors()}"></span>
		
		<div th:each="erro : ${#fields.detailedErrors()}">
			<span th:text="${erro.message}"></span>
		</div>
		<br>
	
		<span th:text="${mensagem}"></span>
		<br>
	
		<label for="nome">Nome</label>
		<input type="text" id="nome" th:field="*{nome}">
		<br>
		<label for="email">E-mail</label>
		<input type="text" id="email" th:field="*{email}">
		<br>
		<label for="senha">Senha</label>
		<input type="password" id="senha" th:field="*{senha}">
		<br>
		
		<input type="submit" value="Salvar">
	</form>
	
</body>

</html>